/**** Main Styling ****/


body{
	margin: auto;
	text-align: center;
	font-family: 'Roboto';
	line-height: 2.4;
	background-color: #D4BEC7; 
	border: solid;
	width: 100%;
}

/**** Label Boxes ****/


label {
	font-size: 15px;
}


/**** Text Boxes ****/


input {
	border: solid;
	margin-left: 10px;
}



/**** Submit Button ****/


input[type=submit] {
	margin-bottom: 2%;
}


input[type=submit]:hover  {
	color: blue;

}


.question p {
	display: inline;
}

.display {
	margin-top: 15px;
}

.display p {
	margin: 4px auto;
	line-height: 2;
}
